<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head">
</head>
<body>
<div th:replace="fragments :: nav_top">

</div>
<h3>Customer Manager</h3>
<section>
    <nav id="nav_left">
        <ul>
            <li><a href="/customer">Customer list</a></li>
            <li><a href="/customer/create">Create customer</a></li>
        </ul>
    </nav>

    <form class="form-inline my-2 my-lg-0" th:action="@{/customer}" method="POST" novalidate="novalidate">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="text">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <article>
        <div class="table-fit justify-content-center">
            <table class="table table-striped table-bordered table-hover thead-dark table-responsive"
                   id="tableEmployee">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Id Card</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Customer Type</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.customerId}"></td>
                    <td th:text="${customer.customerName}"></td>
                    <td th:text="${customer.customerBirthday}"></td>
                    <td th:text="${customer.customerGender}"></td>
                    <td th:text="${customer.customerIdCard}"></td>
                    <td th:text="${customer.customerPhone}"></td>
                    <td th:text="${customer.customerEmail}"></td>
                    <td th:text="${customer.customerAddress}"></td>
                    <td th:text="${customer.customerType.customerTypeName}"></td>
                    <td><a th:href="@{customer/edit(id=${customer.customerId})}">edit</a></td>
                    <td><a th:href="@{customer/delete(id=${customer.customerId})}">delete</a></td>
                </tr>
                </tbody>
            </table>
            <div>
                <a th:href="@{'/customer'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
                <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
                <a th:href="@{'/customer'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
            </div>
        </div>
    </article>
</section>
<footer th:replace="fragments :: footer">

</footer>
</body>
</html>
