<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Mark</th>
    <th>Result</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students">
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
    <td>{{student.age}}</td>
    <td>{{student.mark}}</td>
    <td *ngIf="student.mark >= 5">Pass</td>
    <td *ngIf="student.mark < 5">Fail</td>
    <td>
      <button class="btn btn-warning" (click)="detail(student);openWindowCustomClass1(content1)">Detail</button>
      <button class="btn btn-danger" (click)="detail(student);openWindowCustomClass(content)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<form [formGroup]="studentForm" (ngSubmit)="onSubmit()" novalidate>

  <p>
    <label for="id">id </label>
    <input type="text" id="id" name="id" formControlName="id">
  </p>

  <p>
    <label for="name">name </label>
    <input type="text" id="name" name="name" formControlName="name">
  </p>

  <div
    *ngIf="!studentForm.controls.name?.valid && (studentForm.controls.name?.dirty
    ||studentForm.controls.name?.touched)">
    Name is not valid
  </div>

  <p>
    <label for="age">age </label>
    <input type="text" id="age" name="age" formControlName="age">
  </p>

  <p>
    <label for="mark">mark </label>
    <input type="text" id="mark" name="mark" formControlName="mark">
  </p>

  <p>
    <label for="avatarImg">avatarImg </label>
    <input type="text" id="avatarImg" name="avatarImg" formControlName="avatarImg">
  </p>

<!--  <p>-->
<!--    <label for="gender">Geneder </label>-->
<!--    <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male-->
<!--    <input type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female-->
<!--  </p>-->

<!--  <p>-->
<!--    <label for="isMarried">Married </label>-->
<!--    <input type="checkbox" id="isMarried" name="isMarried" formControlName="isMarried">-->
<!--  </p>-->

<!--  <p>-->
<!--    <label for="country">country </label>-->
<!--    <select id="country" name="country"  formControlName="country">-->
<!--      <option [ngValue]="c.id" *ngFor="let c of countryList">-->

<!--      </option>-->
<!--    </select>-->
<!--  </p>-->

  <p>
    <button type="submit" >Submit</button>
  </p>
<!--  -->
</form>



<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Information Student</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-student-info [student]="student"></app-student-info>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>



