<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
</head>
<body>
<div th:replace="fragments :: nav_top">

</div>
<h3>Employee Manager</h3>
<section>
    <nav id="nav_left">
        <ul>
            <li><a href="/employee">Employee list</a></li>
            <li><a href="/employee/create">Create employee</a></li>
        </ul>
    </nav>

    <article>
        <div id="form">
            <form th:action="@{/employee/create}" th:object="${employee}"
                  method="POST" novalidate="novalidate">
                <div class="form-group col-md-6">
                    <label>ID</label>
                    <input type="text" class="form-control" th:field="*{employeeId}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('employeeId')}" th:errors="*{employeeId}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" class="form-control" th:field="*{employeeName}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Birthday</label>
                    <input type="date" class="form-control" th:field="*{employeeBirthday}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('employeeBirthday')}" th:errors="*{employeeBirthday}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Id Card</label>
                    <input type="text" class="form-control" th:field="*{employeeIdCard}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('employeeIdCard')}" th:errors="*{employeeIdCard}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Salary</label>
                    <input type="number" class="form-control" th:field="*{employeeSalary}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('employeeSalary')}" th:errors="*{employeeSalary}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Phone</label>
                    <input type="text" class="form-control" th:field="*{employeePhone}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('employeePhone')}" th:errors="*{employeePhone}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Email</label>
                    <input type="text" class="form-control" th:field="*{employeeEmail}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('employeeEmail')}" th:errors="*{employeeEmail}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Address</label>
                    <input type="text" class="form-control" th:field="*{employeeAddress}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('employeeAddress')}" th:errors="*{employeeAddress}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Position</label>
                    <select class="form-control" th:field="*{position}">
                        <option th:each="position : ${positions}"
                                th:value="${position.positionId}"
                                th:text="${position.positionName}"></option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label>Education Degreee</label>
                    <select class="form-control" th:field="*{educationDegree}">
                        <option th:each="educationDegree : ${educationDegrees}"
                                th:value="${educationDegree.educationDegreeId}"
                                th:text="${educationDegree.educationDegreeName}"></option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label>Division</label>
                    <select class="form-control" th:field="*{division}">
                        <option th:each="division : ${divisions}"
                                th:value="${division.divisionId}"
                                th:text="${division.divisionName}"></option>
                    </select>
                </div>

                <input type="submit" value="Create">
            </form>
        </div>
    </article>
</section>
<footer th:replace="fragments :: footer">

</footer>
</body>
</html>