<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
</head>

<body>

<div th:replace="fragments :: nav_top">
</div>

<h3>Employee Manager</h3>

<section>
    <nav id="nav_left">
        <ul>
            <li><a href="/employee">Employee list</a></li>
            <li><a href="/employee/create">Create employee</a></li>
        </ul>
    </nav>
    <article>
        <div class="table-fit justify-content-center">
            <form action="#" th:action="@{/employee/delete}" th:object="${employee}"
                  method="POST" novalidate="novalidate">
                <table class="table table-striped table-bordered table-hover thead-dark table-responsive">
                    <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Birthday</th>
                        <th>Id Card</th>
                        <th>Salary</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Position</th>
                        <th>Education Degree</th>
                        <th>Division</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${employee.employeeId}"></td>
                        <td th:text="${employee.employeeName}"></td>
                        <td th:text="${employee.employeeBirthday}"></td>
                        <td th:text="${employee.employeeIdCard}"></td>
                        <td th:text="${employee.employeeSalary}"></td>
                        <td th:text="${employee.employeePhone}"></td>
                        <td th:text="${employee.employeeEmail}"></td>
                        <td th:text="${employee.employeeAddress}"></td>
                        <td th:text="${employee.position.positionName}"></td>
                        <td th:text="${employee.educationDegree.educationDegreeName}"></td>
                        <td th:text="${employee.division.divisionName}"></td>
                    </tr>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
                <input type="submit" value="Delete">
            </form>
        </div>
    </article>
</section>

<footer th:replace="fragments :: footer">

</footer>

</body>
</html>