<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.Title}"></title>
</head>
<body>
<h3 th:text="#{home.Header}"></h3>

<p th:text="#{home.Language}"></p>
<a href="?lang=en" th:text="#{home.En}"></a>
<a href="?lang=jp" th:text="#{home.Jp}"></a>
<br>
<table border="1">
    <thead>
    <tr>
        <th th:text="#{home.Id}"></th>
        <th th:text="#{home.Name}"></th>
        <th th:text="#{home.Address}"></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.address}"></td>

    </tr>
    </tbody>
</table>

</body>
</html>