<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
</head>
<body>
<div th:replace="fragments :: nav_top">

</div>
<h3>Service Manager</h3>
<section>
    <nav id="nav_left">
        <ul>
            <li><a href="/service">Service list</a></li>
            <li><a href="/service/create">Create service</a></li>
        </ul>
    </nav>

    <article>
        <div id="form">
            <form th:action="@{/service/create}" th:object="${service}"
                  method="POST" novalidate="novalidate">

                <div class="form-group col-md-6">
                    <label>Id</label>
                    <input type="text" class="form-control" th:field="*{serviceId}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('serviceId')}" th:errors="*{serviceId}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" class="form-control" th:field="*{serviceName}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('serviceName')}" th:errors="*{serviceName}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Area</label>
                    <input type="number" class="form-control" th:field="*{serviceArea}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('serviceArea')}" th:errors="*{serviceArea}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Cost</label>
                    <input type="number" class="form-control" th:field="*{serviceCost}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('serviceCost')}" th:errors="*{serviceCost}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>MaxPeople</label>
                    <input type="number" class="form-control" th:field="*{serviceMaxPeople}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('serviceMaxPeople')}" th:errors="*{serviceMaxPeople}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Standard Room</label>
                    <select class="form-control" th:field="*{standardRoom}">
                        <option th:each="standardRoom : ${standardRoom}"
                                th:value="${standardRoom}"
                                th:text="${standardRoom}"></option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label>Description</label>
                    <select class="form-control" th:field="*{descriptionOtherConvenience}">
                        <option th:each="description : ${description}"
                                th:value="${description}"
                                th:text="${description}"></option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label>Pool Area</label>
                    <input type="number" class="form-control" th:field="*{poolArea}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('poolArea')}" th:errors="*{poolArea}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Floors</label>
                    <input type="number" class="form-control" th:field="*{numberOfFloors}">
                    <div style="color: red">
                        <td th:if="${#fields.hasErrors('numberOfFloors')}" th:errors="*{numberOfFloors}"></td>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Service Type</label>
                    <select class="form-control" th:field="*{serviceType}">
                        <option th:each="serviceType : ${serviceTypes}"
                                th:value="${serviceType.serviceTypeId}"
                                th:text="${serviceType.serviceTypeName}"></option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label>Rent Type</label>
                    <select class="form-control" th:field="*{rentType}">
                        <option th:each="rentType : ${rentTypes}"
                                th:value="${rentType.rentTypeId}"
                                th:text="${rentType.rentTypeName}"></option>
                    </select>
                </div>

                <input type="submit" value="Create">
            </form>
        </div>
    </article>
</section>
<footer th:replace="fragments :: footer">

</footer>
</body>
</html>