<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="form">
    <form action="#" th:action="@{/service/edit}" th:object="${service}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{serviceId}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{serviceName}"/>
        </div>
        <div>
            <label>Area</label>
            <input type="text" th:field="*{serviceArea}"/>
        </div>
        <div>
            <label>Cost</label>
            <input type="text" th:field="*{serviceCost}"/>
        </div>
        <div>
            <label>Max People</label>
            <input type="text" th:field="*{serviceMaxPeople}"/>
        </div>
        <div>
            <label>Standard Room</label>
            <input type="text" th:field="*{standardRoom}"/>
        </div>
        <div>
            <label>Description</label>
            <input type="text" th:field="*{descriptionOtherConvenience}"/>
        </div>
        <div>
            <label>Pool Area</label>
            <input type="text" th:field="*{poolArea}"/>
        </div>
        <div>
            <label>Numbers of Floors</label>
            <input type="text" th:field="*{numberOfFloors}"/>
        </div>
        <div>
            <label>Service Type</label>
            <select th:field="*{serviceType}">
                <option th:each="serviceType : ${serviceTypes}"
                        th:value="${serviceType.serviceTypeId}"
                        th:text="${serviceType.serviceTypeName}"></option>
            </select>
        </div>
        <div>
            <label>Rent Type</label>
            <select th:field="*{rentType}">
                <option th:each="rentType : ${rentTypes}"
                        th:value="${rentType.rentTypeId}"
                        th:text="${rentType.rentTypeName}"></option>
            </select>
        </div>
        <input type="submit" value="Edit">
    </form>
</div>
</body>
</html>